// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-row {
    padding: 4px 0;
}

.form-row label {
    width: calc(40% - 4px);
}

.form-row input {
    border-radius: 6px;
    border: 1px solid #dee2e6;
    width: 60%;
}
